* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
        "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
        sans-serif;
    margin: 0;
    padding: 0;
    text-decoration-skip-ink: "auto";
}

:root {
    --gray-900: #1a202c;
    --gray-800: #2d3748;
    --gray-700: #4a5568;
    --gray-600: #718096;
    --gray-500: #a0aec0;
    --gray-400: #cbd5e0;
    --gray-300: #e2e8f0;
    --gray-200: #edf2f7;
    --gray-100: #f7fafc;
    --text-decoration-color: var(--gray-400);
    --text-color: var(--gray-800);
}

body {
    padding: 0;
    margin: calc((100vh / 25) * 1.563) calc((100vw / 25) * 1.563);
    background-color: white;
    font-weight: 400;
    line-height: 1.563;
    color: var(--text-color);
    caret-color: var(--text-color);
    color: white;
    background-color: var(--gray-900);
    caret-color: white;
}

/* Form
  ––––––––––––––––––––––––––––––––– */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    display: flex;
}

input[type="email"],
input[type="text"],
input[type="number"] {
    padding: 0.65rem 0.5rem;
    font-size: 1rem;
    border: 2px solid var(--gray-200);
    background-color: var(--gray-100);
    color: var(--gray-800);
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-field {
    margin: 1rem;
}

input[type="email"],
input[type="text"],
input[type="number"],
textarea,
select {
    width: 400px;
    background-color: var(--gray-800);
    border-color: var(--gray-700);
    color: white;
}

input:invalid,
select:invalid,
textarea:invalid {
    border: 2px solid #ff7d87;
    box-shadow: none;
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button {
    padding: 0.5rem 1.25rem;
    font-size: 1rem;
    border-radius: 10px;
    background-color: var(--gray-700);
    border: 2px solid var(--gray-700);
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 1rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    line-height: initial;
    transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
        transform 200ms ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: white;
    border: 2px solid white;
    color: var(--gray-800);
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover {
    cursor: pointer;
    background-color: var(--gray-300);
}